.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 768px) {
  .menu-button-container {
    display: flex;
    position: absolute;
    top: 22px;
    right: -57px;
    height: unset;
  }
  #menu-toggle ~ a {
    height: 0;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
    font-size: 0;
  }
  #menu-toggle:checked ~ a {
    border: 1px solid #333;
    height: 3em;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
    font-size: 14px;
  }
}