@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.btn{
    display: inline-flex;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    background-color:#DB2512;
    min-width: 200px;
    padding: 0 15px;
    height: 50px;
    align-items: center;
    justify-content: center;
    transition: background-color .2s ease;
    border-radius: 7px;
}
.btn:hover{
    background-color: rgb(100, 14, 14);
}

.container {
  width: 1200px;
  margin: 0 auto;
}
/*шапка начало*/
.header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.header_wraper {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_block {
  width: 20%;
}

.nav {
  display: flex;
}
.header_lng-link {
  position: relative;
}
.nav_link {
  margin-right: 35px;

  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}
.nav_link:after,
.header_lng-link:after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  right: 0;
  content: "";
  opacity: 0;
  transition: opacity 0.4s ease;
}
.nav_link:last-child {
  margin-right: 0;
}

.nav_link:hover:after,
.header_lng-link:hover:after {
  opacity: 1;
}

.header_lng {
  display: flex;
  justify-content: flex-end;
}

.header_lng-link {
  margin-right: 8px;
  font-weight: 600;
  color: #b7b7b7;
  text-transform: uppercase;
  text-decoration: none;
}
.header_lng-link:last-child {
  margin-right: 0;
}

.header_lng-link.active {
  color: #fff;
}
/* шапка конец*/

/*начало интро*/

.intro{
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;

    background: url("../img/logo2.jpg") no-repeat;
    background-size:  cover;    
}
.intro:after{
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: .2;
    content: "";

}

.intro_content{
    height: 750px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}
    


.intro_block{

}
.intro_title{
    max-width: 790px;
    font-size: 48px;
    font-weight: 700;
    color: #fff ;
    line-height: 150%;
    margin-bottom: 30px;
}
   

/*конец интро*/


